$background-color: gold;
$border-color: lightgray;

body {
  color: $color;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav {
  align-items: center;
  display: flex;
  background-color: $background-color;
}

input {
  border-style: solid;
  border-color: $border-color;
}

.logo {
  padding-top: 50px;
}
