$background-color: gold;
$border-color: rgb(241, 241, 241);
$logo-color: red;
$font-color: black;
$font-size: small;
$text-center-offset: 50%;

.nav {
  display: flex;
  justify-content: flex-end;
  margin: 10px 50px;
  align-items: center;
}

input {
  border-style: solid;
  border-color: $border-color;
  /* display: flex;
  align-items: center; */
}

input[type="text"] {
  width: 35%;
  border-radius: 40px;
  padding: 10px 20px;
  -webkit-text-fill-color: initial;
  caret-color: initial;
  background-color: initial;
  border-color: $border-color;
  outline-color: $border-color;
}

input[type="submit"] {
  background-color: rgb(241, 241, 241);
  border-style: none;
  padding: 5px 18px;
  border-radius: 5px;
}

.logo {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-top: 8%;
}

/* form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
} */

a[href="image-search.html"],
a[href="advanced-search.html"] {
  color: $font-color;
}

a[href="image-search.html"]:hover,
a[href="advanced-search.html"]:hover {
  color: $font-color;
  text-decoration: underline;
}

.search,
.lucky {
  margin-top: 25px;
  flex-direction: row;
}

input[type="submit"]:hover {
  border: 1px solid #c0c0c0;
  box-shadow: 1px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
