$border-color: rgb(241, 241, 241);
$font-color: black;
$font-size: small;

.nav {
  display: flex;
  justify-content: right;
  margin: 0.6rem 3.125rem;
}

a[href="image-search.html"],
a[href="advanced-search.html"] {
  color: $font-color;
}

a[href="image-search.html"]:hover,
a[href="advanced-search.html"]:hover {
  color: $font-color;
  text-decoration: underline;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

input {
  border-style: solid;
  border-color: $border-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 35rem;
  margin-top: 1.5rem;
  border-radius: 2.5rem;
  padding: 0.625rem 1.25rem;
  -webkit-text-fill-color: initial;
  border-color: $border-color;
  outline-color: $border-color;
}

.button {
  display: block;
  text-align: -webkit-center;
  margin: 2rem 2rem;
}

.submit {
  padding: 0.3rem 1rem;
  margin: 0rem 0.5rem;
  background-color: rgb(241, 241, 241);
  border-radius: 0.313rem;
}

.submit:hover {
  border: 0.063rem solid #c0c0c0;
}
