$background-color: gold;
$border-color: rgb(241, 241, 241);
$logo-color: red;
$font-color: black;
$font-size: small;
$text-center-offset: 50%;

.nav {
  display: flex;
  justify-content: right;
  margin: 10px 50px;
}

input {
  border-style: solid;
  border-color: $border-color;
  /* display: flex;
  align-items: center; */
}

.logo {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

a[href="image-search.html"],
a[href="advanced-search.html"] {
  color: $font-color;
}

a[href="image-search.html"]:hover,
a[href="advanced-search.html"]:hover {
  color: $font-color;
  text-decoration: underline;
}

.submit {
  margin: 25px 10px;
  padding: 0 16px;
  background-color: rgb(241, 241, 241);
  border-style: none;
  padding: 5px 18px;
  border-radius: 5px;
}

.submit:hover {
  border: 1px solid #c0c0c0;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  max-width: 35%;
  width: 100%;
  border-radius: 40px;
  padding: 10px 20px;
  -webkit-text-fill-color: initial;
  caret-color: initial;
  background-color: initial;
  border-color: $border-color;
  outline-color: $border-color;
}
